body {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: darkseagreen;
}

html {
    font-size: 100%;
    /* 16pxらしい */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#bgm_btn {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 20px auto 50px auto;
}

.roudou {
    display: flex;
    justify-content: center;
    margin: auto;
}

#field {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 50px auto
}

#kusa {
    position: relative;
}

#kusa1,
#kusa2,
#kusa3,
#kusa4,
#kusa5 {
    cursor: grab;
}

.kusa-box1,
.kusa-box2,
.kusa-box3,
.kusa-box4,
.kusa-box5 {
    width: 7%;
    height: auto;
    position: absolute;
}


.kusa-box1 {
    top: -400px;
    left: 330px;
}

.kusa-box2 {
    top: -250px;
    right: 370px;
}

.kusa-box3 {
    top: -500px;
    right: 380px;
}

.kusa-box4 {
    top: -280px;
    left: 540px;
}

.kusa-box5 {
    top: -150px;
    right: 500px;
}

#clearScreen {
    text-align: center;
    margin-top: 50px;
}

.money {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

#retryButton {
    cursor: pointer;
    font-family: inherit;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}